@CHARSET "UTF-8";
*{padding:0; margin:0}
#head{
	width:100%;
	height:100px;
	overflow:hidden;
	z-index:8;
	position:relative;
	background-repeat: none;
	background-position: center center;
}