<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
         <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- 
           <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
         
         -->
        <property name="connection.url">jdbc:oracle:thin:@10.14.197.245:1521:test</property>
        <!-- 
        
        <property name="connection.url">jdbc:mysql://localhost:3306/sysman</property>
         -->
        <property name="connection.username">sm</property>
        <!-- 
          
          <property name="connection.username">root</property>
         -->
        <property name="connection.password">admin2015</property>
        <!-- 
          
          <property name="connection.password">root123</property>
         -->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">25</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.OracleDialect</property>

		<!-- 
 			
 			<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
 		-->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping resource="cn/com/pingan/sm/pojo/AlterInfo.hbm.xml"/>
        <mapping resource="cn/com/pingan/sm/pojo/CaseInfo.hbm.xml"/>

    </session-factory>

</hibernate-configuration>